<div class="main" *ngIf="competitions">
    <md-grid-list class="animated bounceInLeft" cols="3" rowHeight="50px">
        <md-grid-tile>
            Name
        </md-grid-tile>
        <md-grid-tile>
            Flag
        </md-grid-tile>
        <md-grid-tile>
            Code Of Team
        </md-grid-tile>
    </md-grid-list>
    <md-grid-list class="animated bounceInRight" cols="3" rowHeight="50px" *ngFor="let competition of competitions">
        <md-grid-tile class="hover" [routerLink]="['/team', competition.id]"> {{competition.name}}
        </md-grid-tile>
        <md-grid-tile>
            <img width="20" [src]="competition.crestUrl" />
        </md-grid-tile>
        <md-grid-tile>
            {{competition.code}}
        </md-grid-tile>
    </md-grid-list>
</div>