<div class="main" *ngIf="teams">
  <md-grid-list cols="3" rowHeight="50px">
    <md-grid-tile>
      Name
    </md-grid-tile>
    <md-grid-tile>
      Flag
    </md-grid-tile>
    <md-grid-tile>
      Code Of Team
    </md-grid-tile>
  </md-grid-list>
  <md-grid-list cols="3" rowHeight="50px" *ngFor="let team of teams">
    <md-grid-tile [routerLink]="['/team', team.id]">
      {{team.name}}
    </md-grid-tile>
    <md-grid-tile>
      <img width="20"  [src]="team.crestUrl" />
    </md-grid-tile>
    <md-grid-tile>
      {{team.code}}
    </md-grid-tile>
  </md-grid-list>
</div>
