<div *ngIf="players && players.length > 0">
    <md-card class="example-card" *ngFor="let player of players">
        <md-card-header>
            <div class="example-header-image" md-card-avatar=""></div>
            <md-card-title> {{player.name}}</md-card-title>
            <md-card-subtitle> {{player.position}}</md-card-subtitle>
        </md-card-header>
        <md-card-content>
            <p>{{player.dateOfBirth}}</p>
            <p>{{player.marketValue}}</p>
            <p>{{player.nationality}}</p>
        </md-card-content>
    </md-card>
</div>
<div *ngIf="players && players.length == 0">
    <p>Not Found Players</p>
</div>